<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InterframeGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <InterframeGUI.Properties.Settings>
            <setting name="x264Path" serializeAs="String">
                <value>tools\x264\x264.exe</value>
            </setting>
            <setting name="MKVmergeToolsPath" serializeAs="String">
                <value>tools\mkvtoolnix\mkvmerge.exe</value>
            </setting>
            <setting name="Platform" serializeAs="String">
                <value />
            </setting>
            <setting name="x264x64" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sourceFilter" serializeAs="String">
                <value>dss2</value>
            </setting>
            <setting name="tempPath" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="templatePath" serializeAs="String">
                <value />
            </setting>
        </InterframeGUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
